<script src="/modules/post/etc/ckeditor/ckeditor.js"></script>
<script>
    function loadCKEditor(id) {
        var editor = CKEDITOR.replace( id, {
            uiColor: '#f9f9f9',
            startupFocus : true,
            height:'12em',
            toolbar :
                    [
                        [
                            'Bold', 'Italic', 'Underline', 'Strike', "TextColor", "BGColor",
                            'NumberedList', 'BulletedList',
                            'Cut', 'Copy', 'Paste', 'Undo', 'Redo',
                            "Outdent", "Indent", "Blockquote", "Link", "Unlink", 'HorizontalRule',
                            "Table",
                            "Smiley",
                            'Source',
                            "Maximize",
                            'Font', 'FontSize',
                            'Format', 'Styles'
                        ]
                    ]
        } );

        CKEDITOR.on("instanceReady", function(event) {
            var range = editor.createRange();
            range.moveToElementEditablePosition( editor.editable(), true );
            editor.getSelection().selectRanges( [ range ] );
        });


    }
    function loadReplyCKEditor() {
        var $ = jQuery;
        $(".reply form [type='submit']").show();
        loadCKEditor('contentEditor');
    }
    function loadCommentCKEditor(id) {
        var $ = jQuery;
        $("#"+id).parent().show();
        loadCKEditor(id);
    }
</script>
{% for comment in data.comments %}
	{# added a wrapper for default css compatibility #}
	<div class='wrapper post-comment'>
		<section role="comment" class="view-item"  depth="{{ comment.depth }}">
		   <section role="header" class='clearfix'>
				<div class='left'>
					<span class='date'>{{ post.created.value | date('M d, Y H:i') }}</span>
				</div>
				<div class='right'>
					<a href="/post/{{ config.label }}/edit/{{ comment.id.value }}">				
						<span class="button"><img src="{{ url_post_templates }}/widgets/edit.png"/>{{ ko ? '수정' : 'Edit' }}</span>
					</a>
					<a href="/post/{{ config.label }}/delete/{{ comment.id.value }}">				
						<span class="button"><img src="{{ url_post_templates }}/widgets/delete.png"/>{{ ko ? '삭제' : 'Delete' }}</span>
					</a>
					<a href="#">				
						<span class="button"><img src="{{ url_post_templates }}/widgets/report.png"/>{{ ko ? 'Report' : 'Report' }}</span>
					</a>
				</div>
			</section>
			<table cellpadding=0 cellspacing=0 width='100%'>
				<tr valign='top'>
					<td class='td-user-info' width='228'>
						<div class='user-info'>
							<div class='author'>
								{% if post.user_id.entity.name.value %}
									{% set name = post.user_id.entity.name.value %}
									{% set temp_photo = "temp_primary_photo.png" %}
								{% else %}
									{% set name = "Anonymous User" %}
										{% set temp_photo = "no_primary_photo.png" %}
								{% endif %}
								{{ name }}
							</div>
							<div class='photo'>
								<img src="{{ url_post_templates }}/widgets/{{ temp_photo }}"/>
							</div>
							<div class='info'>
								<table cellpadding=0 cellspacing=0 width="100%">
									<tr>
										<td width='80'>Join Date:</td>
										<td>{{ comment.user_id.entity.created.value | date('M Y') }}</td>
									</tr>
									<tr>
										<td>Location:</td>
										<td>XX</td>
									</tr>
									<tr>
										<td>Posts:</td>
										<td>XX</td>
									</tr>
									<tr>
										<td>Level:</td>
										<td>XX</td>
									</tr>
								</table>
							</div>
							<div class='send-message'>
								<img src="{{ url_post_templates }}/widgets/message.png"/>Send a Message
							</div>
						</div>				
					</td>
					<td>
						<section role="content" class="content">
							{% if comment.deleted.value %}
								{{ ko ? '삭제되었습니다.' : 'This post is deleted.' }}
							{% else %}
								{{ comment.content.value | raw }}
							{% endif %}
						</section>
					</td>
				</tr>
			</table>
			<section role="footer">
				<span class="comment-reply-button button" onclick="loadCommentCKEditor('contentEditor{{ comment.id.value }}');">
					{{ ko ? '댓글달기' : 'Reply' }}
				</span>		
				{% set p = comment %}
				{% include dir_post_templates ~ '/elements/vote.html.twig' %}		
			</section>
		</section>
		<div class='reply'>
			<form class='comment-reply' action="/post/comment/submit" method="post">
				<input type="hidden" name="parent_id" value="{{ comment.id.value }}">
				<textarea id="contentEditor{{ comment.id.value }}" name="content">Reply To: {{ comment.user_id.entity.name.value }}...
				<p>&nbsp;</p></textarea>
				<input type="submit" value="{{ ko ? '댓글 등록' : 'POST REPLY' }}">
			</form>
		</div>
	</div>
{% endfor %}