<link type='text/css' href='{{ url_post_templates }}/widgets/list.simple.css' rel='stylesheet' />
<section role='page'>
    <section class='clearfix' role="header">
		<div class='left'>
			<div class='label'>{{ config.label }}</div>
		</div>
		<div class="right">			
			<a href="/post/{{ config.name.value }}/add">			
				<span class="button">	<img src='/modules/post/templates/widgets/simple_list_write_icon.png'/>POST</span>
			</a>
		</div>        
    </section>
	<div class="post-list-menu">            
		Page: {{ input.page_no }}
		No of Posts: {{ data.list.no_of_posts }}
	</div>
    <section role="content clearfix" class="list">
        <article class="post caption clearfix">
            <span class="title">{{ language == 'ko' ? '제목' : 'Title' }}</span>
			<span class="author">{{ language == 'ko' ? '글쓴이' : 'Author' }}</span>
			<span class="no-of-view">{{ language == 'ko' ? '조회' : 'Views' }}</span>			
            <span class="date">{{ language == 'ko' ? '날짜' : 'Date' }}</span>            
        </article>
        {% for post in posts %}
            <article class="post clearfix">
                <a href="/post/{{ config.label }}/{{ post.id.value }}?{{ post.label }}&page_no={{ input.page_no }}&q={{ input.q }}&qn={{ input.qn }}&qt={{ input.qt }}&qc={{ input.qc }}">
                        <span class="title{{ post.deleted.value ? ' deleted' }}">
                            {% if post.deleted.value %}
                                {{ ko ? '삭제되었습니다.' : 'This post is deleted.' }}
                            {% else %}
                                {% if post.label | length > 40 %}
                                    {{ post.label | slice(0, 40) }} ...
                                {% else %}
                                    {{ post.label }}
                                {% endif %}
                            {% endif %}
                            ( {{ post.no_of_comment.value }} )
                        </span>
					{% if post.user_id.target_id == 0 %}
						{% set name = 'Anonymous' %}
					{% else %}
						{% set name = post.user_id.entity.name.value %}
					{% endif %}
					<span class="author">{{ name }}</span>
                    <span class="no-of-view">{{ post.no_of_view.value }}</span>                    
					 <span class="date">
						{% if 'now' | date ('Ymd') == post.created.value | date('Ymd') %}
							{{ post.created.value | date('H:i') }}
						{% else %}
							{{ post.created.value | date('m/d') }}
						{% endif %}
					</span>
                </a>
            </article>
        {% endfor %}
    </section>
    <section role="footer">

    </section>
</section>
