<script src="/modules/post/etc/ckeditor/ckeditor.js"></script>
<script src="{{ url_post_widgets }}/comment.default/comment.default.js"></script>
{% include dir_post_elements ~ '/ajax-file-upload-progress-bar.html.twig' %}
<section role="comment" class="post-comment">
    {% include dir_post_elements ~ '/reply-form-on-original-post.html.twig' %}

    <div class="list">
        {% for comment in data.comments %}
            <a name="{{ comment.id.value }}"></a>
            <div id="comment{{ comment.id.value }}" class="comment" depth="{{ comment.depth }}">
                <div class="comment-header">
                    <a href="#"><span class="author">{{ comment.user_id.entity.name.value }}</span></a>
                    <a href="#"><span class="date">{{ comment.created.value | date('Y-m-d H:i') }}</span></a>
                    <a href="#"><span class="cid">No. {{ comment.id.value }}</span></a>
                    <a href="/post/{{ config.label }}/edit/{{ comment.id.value }}"><span class="edit button">{{ ko ? '수정' : 'EDIT' }}</span></a>
                    <a href="/post/{{ config.label }}/delete/{{ comment.id.value }}"><span class="button">{{ ko ? '삭제' : 'DELETE' }}</span></a>
                    {% set p = comment %}
                    {% include dir_post_templates ~ '/elements/vote.html.twig' %}
                </div>


                {% include dir_post_elements ~ '/comment-content.html.twig' %}


                {% set files = comment.files %}
                {% include dir_post_templates ~ '/elements/uploaded-files.html.twig' %}

                <div class="comment-footer">
                    <span class="comment-reply-button" onclick="loadCommentCKEditor('contentEditor{{ comment.id.value }}');">
                        {{ ko ? '댓글달기' : 'Reply' }}
                    </span>
                </div>

            </div>
           {% include dir_post_elements ~ '/reply-form-on-comment.html.twig' %}
        {% endfor %}
    </div>
</section>