<script src="/modules/post/etc/ckeditor/ckeditor.js"></script>
<script>
    function loadCKEditor(id) {
        var editor = CKEDITOR.replace( id, {
            uiColor: '#f9f9f9',
            startupFocus : true,
            height:'12em',
            toolbar :
                    [
                        [
                            'Bold', 'Italic', 'Underline', 'Strike', "TextColor", "BGColor",
                            'NumberedList', 'BulletedList',
                            'Cut', 'Copy', 'Paste', 'Undo', 'Redo',
                            "Outdent", "Indent", "Blockquote", "Link", "Unlink", 'HorizontalRule',
                            "Table",
                            "Smiley",
                            'Source',
                            "Maximize",
                            'Font', 'FontSize',
                            'Format', 'Styles'
                        ]
                    ]
        } );

        CKEDITOR.on("instanceReady", function(event) {
            var range = editor.createRange();
            range.moveToElementEditablePosition( editor.editable(), true );
            editor.getSelection().selectRanges( [ range ] );
        });


    }
    function loadReplyCKEditor() {
        var $ = jQuery;
        $(".show-on-click").show();
        loadCKEditor('contentEditor');
    }
    function loadCommentCKEditor(id) {
        var $ = jQuery;
        $("#"+id).parent().show();
        loadCKEditor(id);
    }
</script>
<div class='ajax-file-upload-progress-bar'>
    <div class='bar'>
        <div class="caption">Upload: 0%</div>
        <div class='percent'></div>
    </div>
</div>
<section role="comment" class="post-comment">
    <div class="reply">
        <form name="comment-add" action="/post/comment/submit" method="post" enctype="multipart/form-data">
            <input type="hidden" name="parent_id" value="{{ post.id.value }}">
            <input type="hidden" name="fid" value="">
            <textarea id="contentEditor" name="content" onclick="loadReplyCKEditor();" placeholder="{{ language=='ko' ? "덧글을 입력하시려면 이곳을 클릭하십시오." : "Please, click here to reply a comment." }}"></textarea>

            <input class="show-on-click" type='file' name='files[]' multiple onchange="jQuery(this).parent().submit();">
            <input class="show-on-click form-comment-add-submit" type="submit" value="{{ ko ? '댓글 등록' : 'POST REPLY' }}">

        </form>
    </div>
    <div class="list">
        {% for comment in data.comments %}
            <a name="{{ comment.id.value }}"></a>
            <div id="comment{{ comment.id.value }}" class="comment" depth="{{ comment.depth }}">
                <div class="comment-header">
                    <a href="#"><span class="author">{{ comment.user_id.entity.name.value }}</span></a>
                    <a href="#"><span class="date">{{ comment.created.value | date('Y-m-d H:i') }}</span></a>
                    <a href="#"><span class="cid">No. {{ comment.id.value }}</span></a>
                    <a href="/post/{{ config.label }}/edit/{{ comment.id.value }}"><span class="edit button">{{ ko ? '수정' : 'EDIT' }}</span></a>
                    <a href="/post/{{ config.label }}/delete/{{ comment.id.value }}"><span class="button">{{ ko ? '삭제' : 'DELETE' }}</span></a>
                    {% set p = comment %}
                    {% include dir_post_templates ~ '/elements/vote.html.twig' %}
                </div>



                <div class='comment-content{{ comment.deleted.value ? ' deleted' }}'>
                    {% if comment.deleted.value %}
                        {{ ko ? '삭제되었습니다.' : 'This post is deleted.' }}
                    {% else %}
                        {{ comment.content.value | raw }}
                    {% endif %}
                </div>



                {% set files = comment.files %}
                {% include dir_post_templates ~ '/elements/uploaded-files.html.twig' %}




                <div class="comment-footer">
                    <span class="comment-reply-button" onclick="loadCommentCKEditor('contentEditor{{ comment.id.value }}');">
                        {{ ko ? '댓글달기' : 'Reply' }}
                    </span>
                </div>

            </div>
            <form name="comment-add" action="/post/comment/submit" method="post" enctype="multipart/form-data">
                <input type="hidden" name="parent_id" value="{{ comment.id.value }}">
                <input type="hidden" name="fid" value="">
                <textarea id="contentEditor{{ comment.id.value }}" name="content">Reply To: {{ comment.user_id.entity.name.value }}...
<p>&nbsp;</p></textarea>
                <input type='file' name='files[]' multiple onchange="jQuery(this).parent().submit();">
                <input class="form-comment-add-submit" type="submit" value="{{ ko ? '댓글 등록' : 'POST REPLY' }}">

            </form>
        {% endfor %}
    </div>
</section>