{% set config = data.config %}

<section role="header">
    <h2>This is title</h2>
    This is header
</section>

<section role='content' class="list">
    <form>
        <fieldset>
            <legend>Settings</legend>
            <input type="hidden" name="submit" value="config_submit">
            <input type="hidden" name="id" value="{{ config.id.value }}">

            <div class='row data-set name'>
                <div class='caption'>Name</div>
                <div class='text'><input type="text" name="name" value="{{ config.name.value }}"></div>
            </div>


            <div class="row data-set description">
                <div class="caption">Description</div>
                <div class="value"><textarea name="description">{{ config.description.value }}</textarea></div>
            </div>


            <div class="row data-set widget_list">
                <label for="widget_list" class="caption">Widget List</label>
                <div class='text'>{{ data.widgets.list | raw }}</div>
            </div>



            <div class="row data-set widget_search_box">
                <label for="widget_search_box" class="caption">Widget Search Box on List</label>
                <div class='text'>{{ data.widgets.search_box | raw }}</div>
            </div>


            <div class="row data-set widget_view">
                <label for="widget_view" class="caption">Widget View</label>
                <div class='text'>{{ data.widgets.view | raw }}</div>
            </div>

            <div class="row data-set widget_edit">
                <label for="widget_edit" class="caption">Widget Edit</label>
                <div class='text'>{{ data.widgets.edit | raw }}</div>
            </div>

            <div class="row data-set widget_comment">
                <label for="widget_comment" class="caption">Widget Comment</label>
                <div class='text'>{{ data.widgets.comment | raw }}</div>
            </div>


            <div class="row data-set widget_search">
                <label for="widget_search" class="caption">Widget Search</label>
                <div class='text'>{{ data.widgets.search | raw }}</div>
            </div>


            <nav role="button-group">
                <input type="submit" role="button" value="UPDATE">
                <a href="/post" role="button">CANCEL</a>
            </nav>
        </fieldset>
    </form>
</section>
<section role="footer">
    This is footer
</section>
