{% import dir_macro ~ '/html.html.twig' as html %}
<link type='text/css' href='{{ url_post_templates }}/widgets/edit.default/edit.default.css' rel='stylesheet' />
<script src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>

<div class='ajax-file-upload-progress-bar'>
    <div class='bar'>
        <div class="caption">Upload: 0%</div>
        <div class='percent'></div>
    </div>
</div>
<section role='page'>
    <section role="header">
        <h2>{{ config.label }}</h2>
    </section>
    <section role="content">
        <form name="edit" action="/post/{{ config.name.value }}/add" method="post" enctype="multipart/form-data">
                <input type="hidden" name="mode" value="submit">
                <input type="hidden" name="post_config_name" value="{{ config.name.value }}">
            <input type="hidden" name="id" value="{{ post.id.value }}">
            <input type="hidden" name="fid" value="">

                {% if post.parent_id.value == 0 %}
                    {{
                        html.input({
                            'type':'text',
                            'name':'title',
                            'id':'post-title',
                            'class':'title',
                            'value': post.label,
                            'label': ko ? '제목' : 'Title',
                            'placeholder': ko ? "제목을 입력하십시오." : "Input title"
                        })
                    }}
                {% endif %}
                <span class="file-upload-button">{{ ko ? '파일 업로드' : 'Attache Files' }}</span>
                <input type='file' name='files[]' multiple onchange="jQuery(this).parent().submit();">
                <div class="row data-set content">
                    <div class="caption">{{ ko ? '글 내용' : 'Content' }}</div>
                    <div class="value">
                        <textarea id="contentEditor" name="content" placeholder="{{ ko ? "내용을 입력하십시오." : "Input Content..." }}">{{ post.content.value }}</textarea>
                        <script>
                            CKEDITOR.replace( 'contentEditor', {
                                uiColor: '#f9f9f9',
                                height: '26em',
                                toolbar :
                                        [
                                            [
                                                'Bold', 'Italic', 'Underline', 'Strike', "TextColor", "BGColor",
                                                'NumberedList', 'BulletedList',
                                                'Cut', 'Copy', 'Paste', 'Undo', 'Redo',
                                                "Outdent", "Indent", "Blockquote", "Link", "Unlink", 'HorizontalRule',
                                                "Table",
                                                "Smiley",
                                                'Source',
                                                "Maximize",
                                                'Font', 'FontSize',
                                                'Format', 'Styles'
                                            ]
                                        ]
                            } );
                        </script>
                    </div>
                </div>



            photos:
            <input type='file' name='photos[]' multiple onchange="jQuery(this).parent().submit();"><br>

            text file:
            <input type='file' name='text' onchange="jQuery(this).parent().submit();"><br>


            <input type="submit" value="SUBMIT" style="position:absolute; top:-1024px; left:-1024px;">
                <section class="grid buttons">
                    <div class="a"><span class="form-edit-submit">{{ ko ? '글 등록' : 'UPDATE' }}</span></div>
                    <div class="b"><a href="/post/{{ config.label }}"><span>{{ ko ? '취소' : 'CANCEL' }}</span></a></div>
                </section>


        </form>
    </section>
    <section role="footer">
    </section>
</section>