<link type='text/css' href='{{ url_post_templates }}/widgets/view.default/view.default.css' rel='stylesheet' />
<section role='page'>
    <section role="header">
        {% include dir_post_elements ~'/post-config-title.html.twig' %}
        <nav class="menu">
            <div class="left">
                Author : {{ post.user_id.entity.name.value }}
                No.: {{ post.id.value }}
            </div>


            <div class="right">
                {% include dir_post_templates ~ '/elements/view-menu.html.twig' %}
            </div>

        </nav>
    </section>

    <h3 class='title{{ post.deleted.value ? ' deleted' }}'>
        {% if post.deleted.value %}
            {{ ko ? '삭제되었습니다.' : 'This post is deleted.' }}
        {% else %}
            {{ data.post.label }}
        {% endif %}
    </h3>

    <section role="content" class="content">
        {% if post.deleted.value %}
            {{ ko ? '삭제되었습니다.' : 'This post is deleted.' }}
        {% else %}
            {{ data.post.content.value | raw }}
        {% endif %}
    </section>
    <section role="footer">
        {% set files = data.files %}
        {% include dir_post_templates ~ '/elements/uploaded-files.html.twig' %}
    </section>
</section>

