<div class='wrapper clearfix'>
	<section role="search" class="search-box">
		<form class='clearfix' action="/post/search">                
			<input type="text" name="q" value="{{ input.q }}">
			<input type="image" src='/modules/post/templates/widgets/simple_search_button.png'>
			<input type="hidden" name="post_config_name" value="{{ config.label }}">
			<input type="checkbox" id="qn" name="qn" value="y" {{ input.qn == 'y' ? 'checked=1' }}>
			<label for="qn">{{ language == 'ko' ? '이름' : 'Username' }}</label><br>
			<input type="checkbox" id='qt' name="qt" value="y" {{ input.qt == 'y' ? 'checked=1' }}>
			<label for="qt"><span class="title">{{ language == 'ko' ? '제목' : 'Title' }}</label>
			<input type="checkbox" id='qc' name="qc" value="y" {{ input.qc == 'y' ? 'checked=1' }}>
			<label for="qc"><span class="title">{{ language == 'ko' ? '내용' : 'Content' }}</label>
		</form>
	</section>
	{{ data.list.navigation | raw }}
</div>
<style>
    .post section.search-box{
		/*height:50px;*/
		padding:9px 10px;		
		box-sizing:border-box;
	}
	
    .post section.search-box label {
        display:inline;
    }
	
    .post section.search-box [type='text'], .post section.search-box [type='image'] {
		float:left;
        display:inline-block;
		height:30px;
        margin:0;
        padding:0;
		border:0;
        box-sizing: border-box;
    }
	
    .post section.search-box [type='checkbox'] {
		position:relative;
		top:2px;
    }
	
    .post section.search-box [type='text'] {
		width:50%;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
    }
	
    .post section.search-box [type='image'] {
		padding:5px 10px;
		margin-right:10px;
		width:41px;
		border-left:1px solid #cbcaca;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		background-color:#fff;
    }
	
	.post.list .wrapper{
		background-color:#cbcaca;
		margin-bottom:10px;
	}
	
	.post .navigation-bar{
		padding:10px;
		margin-top:0;		
		box-sizing:border-box;
	}
	
	.post .navigation-bar a{
		margin-bottom:0;
		background-color:#fff;
		border:1px solid #dddddd;
		border-radius:2px;		
	}
	
	.post .navigation-bar a.selected{
		background-color:#7997ab;
		color:#fff;
	}
	
	.post .navigation-bar a:hover{
		border:1px solid #67a4ce;
	}
	
	@media all and (min-width: 900px) {
		.post section.search-box{
			float:left;
			width:350px;
		}
		
		.post .navigation-bar{
			float:right;
		}
	}
</style>
<script>
    window.onload = function() {
        var $ = jQuery;
        $(".search-box [name='qn']").click(function(){
            if ( $(this).prop('checked') ) {
                $(".search-box [name='qt']").prop('checked', false);
                $(".search-box [name='qc']").prop('checked', false);
            }
        });
        $(".search-box [name='qt'],.search-box [name='qc']").click(function(){
            if ( $(this).prop('checked') ) {
                $(".search-box [name='qn']").prop('checked', false);
            }
        });
    }
</script>
