<section role='page' class="post search">
    <section role="header">
        <h2>Post Search</h2>
        {% include 'modules/post/templates/widgets/search_box.default.html.twig' %}
        <div>Result : {{ data.list.no_of_posts }}</div>
    </section>

    <section role="content" class="list">
        {% for post in data.list.posts %}
            <article class="{{ post.parent_id.value == 0 ? 'post' : 'comment' }}">
                    <a href="/post/{{ post.config_id.entity.label }}" target="_blank">{{ post.config_id.entity.label }}</a>

                    <a href="/post/{{ post.config_id.entity.label }}/{{ post.id.value }}" target="_blank">
                        {% if post.parent_id.value == 0 %}
                            {{ post.label }}
                        {% else %}
                            {{ post.content_stripped.value | slice(0,99) }}
                        {% endif %}
                    </a>
            </article>
        {% endfor %}
    </section>
    {{ data.list.navigation | raw }}

    <section role="footer">

    </section>
</section>