<link type='text/css' href='{{ url_post_templates }}/widgets/view.default.css' rel='stylesheet' />
<section role='page' class="post view">
    <section role="header">
        <h2>{{ config.label }}</h2>
        <nav class="menu">
            <div class="left">
                No.: {{ post.id.value }}
            </div>
            <div class="right">
                <a href="/post/{{ config.name.value }}/add"><span class="button">POST UPLOAD</span></a>
                <a href="/post/{{ config.label }}"><span class="button">LIST</span></a>
                <a href="/post/{{ config.label }}/edit/{{ post.id.value }}"><span class="button">EDIT</span></a>
            </div>
        </nav>
    </section>

    <h3>{{ data.post.label }}</h3>
    <section role="content" class="content">
        {{ data.post.content.value | raw }}
    </section>
    <section role="footer">

    </section>
</section>


{% include dir_post_templates ~ '/widgets/comment.default.html.twig' %}

{% include 'modules/post/templates/post.list.html.twig' %}
