<section role="search" class="search-box">
    <form action="/post/search">
        <input type="hidden" name="post_config_name" value="{{ config.label }}">
        <input type="checkbox" id="qn" name="qn" value="y" {{ input.qn == 'y' ? 'checked=1' }}>
        <label for="qn">{{ language == 'ko' ? '이름' : 'Username' }}</label>,
        <input type="checkbox" id='qt' name="qt" value="y" {{ input.qt == 'y' ? 'checked=1' }}>
        <label for="qt"><span class="title">{{ language == 'ko' ? '제목' : 'Title' }}</label>,
        <input type="checkbox" id='qc' name="qc" value="y" {{ input.qc == 'y' ? 'checked=1' }}>
        <label for="qc"><span class="title">{{ language == 'ko' ? '내용' : 'Content' }}</label>
        <input type="text" name="q" value="{{ input.q }}">
        <input type="submit">
    </form>
</section>
<style>
    section.search-box label {
        display:inline;
    }
    section.search-box [type='submit'] {
        display:inline-block;
        margin:.2em 0;
        padding:.8em;
        box-sizing: border-box;
        width:100%;
    }
</style>
<script>
    window.onload = function() {
        var $ = jQuery;
        $(".search-box [name='qn']").click(function(){
            if ( $(this).prop('checked') ) {
                $(".search-box [name='qt']").prop('checked', false);
                $(".search-box [name='qc']").prop('checked', false);
            }
        });
        $(".search-box [name='qt'],.search-box [name='qc']").click(function(){
            if ( $(this).prop('checked') ) {
                $(".search-box [name='qn']").prop('checked', false);
            }
        });

    }
</script>