<link type='text/css' href='{{ url_post_templates }}/widgets/view.simple/view.simple.css' rel='stylesheet' />
<section role='page' class='view-item post'>
	<section role="header" class='clearfix'>
		<div class='left'>
			<span class='date'>{{ post.created.value | date('m-d-y H:i') }}</span>
		</div>
		<div class='right'>
			<a href="/post/{{ config.label }}/edit/{{ post.id.value }}">				
				<span class="button"><img src="{{ url_post_templates }}/widgets/view.simple/edit.png"/>{{ ko ? '수정' : 'Edit' }}</span>
			</a>
			<a href="/post/{{ config.label }}/delete/{{ post.id.value }}">				
				<span class="button"><img src="{{ url_post_templates }}/widgets/view.simple/delete.png"/>{{ ko ? '삭제' : 'Delete' }}</span>
			</a>
			<a href="#">				
				<span class="button"><img src="{{ url_post_templates }}/widgets/view.simple/report.png"/>{{ ko ? 'Report' : 'Report' }}</span>
			</a>
		</div>
	</section>			
				<div class='user-info'>	
					{% if data.post_member.photo %}
						{% set primary_photo = data.post_member.photo.thumbnails['url_medium'] %}
					{% else %}
						{% set primary_photo = url_post_templates ~ "/widgets/view.simple/no_primary_photo.png" %}
					{% endif %}
					<div class='photo'>
						<img src="{{ primary_photo }}"/>
					</div>	
					<div class='info-wrapper clearfix'>
						<div class='left'>
						{% if post.user_id.entity.name.value %}
							{% set name = post.user_id.entity.name.value %}												
						{% else %}
							{% set name = "Anonymous User" %}							
						{% endif %}
						<div class='author'>{{ name }}</div>
						<div class='info'>
							<table cellpadding=0 cellspacing=0 width="100%">
								<tr valign='top'>
									<td width='80'>Join Date:</td>
									<td>{{ post.user_id.entity.created.value | date('M Y') }}</td>
								</tr>
								<tr valign='top'>
									<td>Location:</td>
									<td>{{ data.post_member.extra.location }}</td>
								</tr>
								{#
								<tr>
									<td>Posts:</td>
									<td>XX</td>
								</tr>
								<tr>
									<td>Level:</td>
									<td>XX</td>
								</tr>
								#}
							</table>
						</div>
						</div>
						<div class='right'>
						<div class='send-message'>
							<img src="{{ url_post_templates }}/widgets/view.simple/message.png"/>
							<a href='/message/send?receiver={{ data.post_member.name.value }}'>Message</a>
						</div>
						</div>
					</div>
				</div>							

				<div class='title{{ post.deleted.value ? ' deleted' }}'>
					{% if post.deleted.value %}
						{{ ko ? '삭제되었습니다.' : 'This post is deleted.' }}
					{% else %}
						{{ data.post.label }}
					{% endif %}
				</div>
				<section role="content" class="content">
					{% if post.deleted.value %}
						{{ ko ? '삭제되었습니다.' : 'This post is deleted.' }}
					{% else %}
						{{ data.post.content.value | raw }}
					{% endif %}
				</section>

    <section role="footer">
		{#<span class="button">{{ ko ? '댓글달기' : 'Reply' }}</span>#}
		{% set p = post %}
		{% include dir_post_templates ~ '/elements/vote.html.twig' %}		
    </section>
</section>

